@use "../styles/breakpoints.scss" as *;

.footer {
  max-width: 1382px;
  margin: 0 auto;
  height: 98px;
  background: #f8f8f8;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 64px 206px 216px;

  @include tablet {
    padding: 64px 60px 216px;
    justify-content: space-between;
  }
  @include mobile {
    padding: 33px 31px 35px;
  }

  img {
    margin-right: 78px;

    @include mobile {
      margin-right: 32px;
      width: 40px;
    }
  }
}
