.header {
  max-width: 1382px;
  margin: 33px auto;
  height: 98px;
  background: #f8f8f8;
  border-radius: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 114px 0 50px;
}
