@use "../styles/breakpoints.scss" as *;

.header {
  max-width: 1382px;
  margin: 33px auto;
  height: 98px;
  background: #f8f8f8;
  border-radius: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 114px 0 50px;
  position: relative;
  z-index: 9999;

  @include mobile {
    padding: 32px 35px 32px 40px;
  }
}

.linkHolder {
  a {
    display: block;
  }
}
