@use "../styles/breakpoints.scss" as *;

.list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0 25px;
  row-gap: 20px;

  @include mobile {
    flex-wrap: wrap;
  }

  img {
    max-width: 100%;
  }
}
