.contentWraper {
  --button-bg: #39a9a0;
  --active-button-bg: #297f79;
  --gradient: linear-gradient(180deg, #288980 0%, #36aaa1 100%);
  display: grid;
  grid-template-columns: 236px 1fr;
  grid-template-rows: max-content;
  gap: 24px 25px;
  max-width: 1221px;
  margin: 45px auto 33px;
  min-height: 100vh;

  &.aestheticsurgery {
    --button-bg: #39a9a0;
    --active-button-bg: #297f79;
    --gradient: linear-gradient(180deg, #288980 0%, #36aaa1 100%);
  }
  &.handwristsurgery {
    --button-bg: #9bccce;
    --active-button-bg: #729495;
    --gradient: linear-gradient(180deg, #6ba4a7 0%, #8fc2c4 100%);
  }
  &.reconstructivesurgery {
    --button-bg: #55a486;
    --active-button-bg: #407d66;
    --gradient: linear-gradient(180deg, #4b8d75 0%, #56a586 100%);
  }
  &.whattoexpect {
    --button-bg: #3b7b9b;
    --active-button-bg: #285a73;
    --gradient: linear-gradient(180deg, #285a73 0%, #3b7b9b 100%);
  }
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 48px;
  text-align: center;
  color: #39a9a0;
}

.tabButtons {
  display: flex;
  flex-direction: column;

  button {
    font-weight: 700;
    font-size: 20px;
    line-height: 26.67px;
    text-align: center;
    min-height: 81px;
    color: #fff;
    background: var(--button-bg);
    border-radius: 16px;
    margin-bottom: 11px;
    padding: 13px;
    border: none;
    transition: all 0.3s ease-in-out;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.active,
    &:hover {
      background: var(--active-button-bg);
    }
  }
}

.treatmentList {
  list-style: none;
  margin: 0;

  li {
    background: var(--gradient);
    border-radius: 28px;
    color: #fff;
    margin-bottom: 17px;
    transition: all 0.3s ease-in-out;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.isOpen {
      .arrowHolder {
        transform: rotate(180deg);
      }

      .treatmentTitle {
        padding-bottom: 22px;
      }

      .contentHoder {
        max-height: 1000px;
        transition-delay: 0.2s;
      }
    }
  }
}

.treatmentTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 42.67px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 33px 48px;
  transition: all 0.5s ease-in-out;

  .arrowHolder {
    color: #36a9a0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: transform 0.3s ease-in-out;
  }
}

.contentHoder {
  margin: 0 48px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26.67px;
    padding-bottom: 26.67px;

    &:first-of-type {
      padding-top: 22px;
      border-top: 1px solid #fff;
    }
    &:last-of-type {
      padding-bottom: 33px;
    }
  }
}
