@use "./breakpoints.scss" as *;

body {
  padding: 0;
  margin: 0;
  background: #fff;
  scroll-behavior: smooth;

  @include desktop {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 13px;
  }
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  display: block;
  width: 100%;
  position: relative;
}

.yarl__container {
  background: rgba(#3ba299, 0.8) !important;
}

.yarl__slide_title_container {
  background: transparent !important;
}
.yarl__slide_title {
  text-align: center;
  max-width: 100% !important;
  padding: 0 64px;
}
